  <h1>キャプコレにようこそ</h1>
  <h2>
    このサイトは主に、LTやtwitterのリプに使う
      アニメのキャプチャー画像を共有することを目的に作られています
  </h2>
  <div class="row panel panel-primary">
      <div class="panel-heading">新着画像</div>
        <div class="panel-body">
          <div class="col-xs-3 col-md-3 ">
        　  <img src="/assets/すこー.png" class="capItems"/>
      　   </div>
      　   <div class="col-xs-3 col-md-3">
        　  <img src="/assets/すこー.png" class="capItems"/>
      　   </div>
      　   <div class="col-xs-3 col-md-3">
        　  <img src="/assets/すこー.png" class="capItems"/>
      　   </div>
      　   <div class="col-xs-3 col-md-3">
        　  <img src="/assets/すこー.png" class="capItems"/>
      　   </div>
        </div>
    </div>
  </div>
  

