<p id="notice"><%= notice %></p>

<h1>検索結果</h1>

  <% @pictures.each do |picture| %>
  <div class="capItems">
      <%= link_to image_tag(picture.photo.url(:medium)) , picture%>
      <p><%= picture.name %></p>
  </div>
  <% end %>
  

<div class="clear"><button ><%= link_to 'New Picture', new_picture_path %></button></div>


