@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

/* header */

header{
  .container{
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: #222222;
    height:55px;
  }
}


#logo {
  float: left;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 7px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#Rheader{
  margin-right:3px;
}

/* footer */

footer {
  margin-top: 40px;
  a {
    color: white;
    &:hover {
      color: $gray-darker;
    }
  }
  ul {
    float: right;
    margin-right: 15px;
    list-style: none;
    li {
      margin-bottom: 5px;
    }
  }
  .container{
    background-color: #3B4E5E;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 100px;
  }
}

/* tool */
.title{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 50px;
}

.bootstrap-tagsinput {
  width: 100% !important;
}

.tag-list{
  background-color: #EDF3F7;
  width: 1000px;
  margin-left: 70px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  .list-inline{
    margin-left: 0;
    margin-bottom: 0;
  }
  .tag{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  ul{
    text-align: left;
    padding-left: 45px;
    #tag-icon{
      right: 5px;
      margin-left: -25px; 
      font-size: 20px;
    }
    li{
      vertical-align: middle;
      font-size: 20px;
      margin-top: 7px;
      margin-bottom: 7px;
      span{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 0px;
        padding-left: 0px;
        a{
          padding-top: 5px;
          padding-bottom: 5px;
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
  }
}

.back{
  background-color: #EDEDED;
}

.container{
  max-width: none !important;
  width: 1170px !important;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.kadomaru{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.uekadomaru{
  -webkit-border-radius: 5px 5px 0px 0px / 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px / 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px / 5px 5px 0px 0px;
}

.back-btn{
  float: right;
  margin-right: 70px; 
}

